<div class="card-widget card-tags">
    <div class="item-headline"></div>
    <div class="card-tag-cloud">
        <a class="tag-item" style="font-size:1em" th:each="tag,iterStat : ${tagFinder.list(1,10)}"
           th:href="@{${tag.status.permalink}}" th:title="${tag.spec.displayName}">[[${tag.spec.displayName}]]<sup th:text="${tag.status.visiblePostCount}"></sup>
        </a>
    </div>
    <!-- 标签云随机颜色效果 -->
    <script>for(const tag of document.getElementsByClassName('tag-item')){tag.style.color = "#"+((1<<24)*Math.random()|0).toString(16)}</script>
</div>