<div class="card-widget heo-right-widget" id="card-wechat">
    <div id="flip-wrapper">
        <div id="flip-content">
            <div class="face" th:style="'background: url('+ @{${assets_link + '/images/wechat-green.svg'}} +') center center / 100% no-repeat'"></div>
            <div class="back face" th:style="'background: url('+ @{${assets_link + '/images/wechat-white.svg'}} +') center center / 100% no-repeat'"></div>
        </div>
    </div>
    <style>
        #aside-content .card-widget#card-wechat:hover:before {
            top: 100%;
            opacity: 0;
            transition: .3s ease-out
        }
    </style>
</div>